body {
    background-color: #222222;
    font-family: "Verdana", Geneva, sans-serif;
    color: white;
    font-size: 20px;

}

button {
  backrgound-color: #aeb4b7;
  border: none;
  padding: 5px 10px;
  font-family: "Verdana", Geneva, sans-serif;
  color: black;
}

/***********
 * NAV BAR *
 ***********/
.nav-link {
  font-family: "Verdana", Geneva, sans-serif;
  color: white;
}

.nav-link:hover {
  background-color: #aeb4b7;
  color: white;
}

.navbar-btn {
  margin-right: 6px;
}