<!DOCTYPE html>
<html lang="en">


<head>
  <title>gradGyde Student Dashboard</title>

  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

  <link rel="stylesheet" type="text/css" href="../static/style.css" />
  <link rel='shortcut icon' href='../static/favicon.ico'>

</head>

<body>
  <!-- NAV BAR -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">

    <!-- gradGyde image -->
    <img src="../static/img/gradGyde.png" Alt="gradGyde" style="width:160px;height:48px;padding:0px 5px 2px 5px" onclick="location.href='/student_dashboard'">

    <!-- dashboard tab -->
    <li class="nav-item">
      <a class="nav-link active" id="dashboard-tab" data-toggle="tab" href="/student_dashboard" role="tab" aria-controls="dashboard" aria-selected="true">Dashboard</a>
    </li>

    <!-- settings and logout buttons -->
    <ul class="nav nav-tabs ml-auto">
      <button type="button" onclick="location.href='/logout';">Logout</button>
    </ul>
  </ul>

  <br/>

  <div class="contents-explore">
    <center><h3><b>Administrative Dashboard</b></h3></center>

    <p style="font-size: 18px">
      View, add, remove, and edit courses, AOCs, doubles, and slashes.
    </p>
    <br/>

    <!-- tabs for either courses, aocs, doubles, slashes -->
    <ul class="nav nav-tabs" id="summary-tabs" role="tablist" style="margin-left:10px;margin-right:10px">
      <li class="nav-item">
        <button id="courses" data-toggle="tab" role="tab" aria-controls="dashboard" style="font-size:16px;" onclick="switchTab('courses', ['courses', 'aocs', 'doubles', 'slashes'], 'summary')" class="nav-link active" aria-selected="true">Courses</button>
      </li>
      <li class="nav-item">
        <button id="aocs" data-toggle="tab" role="tab" aria-controls="dashboard" style="font-size:16px;" onclick="switchTab('aocs', ['aocs', 'courses', 'doubles', 'slashes'], 'summary')" class="nav-link" aria-selected="false">AOCs</button>
      </li>
      <li class="nav-item">
        <button id="doubles" data-toggle="tab" role="tab" aria-controls="dashboard" style="font-size:16px;" onclick="switchTab('doubles', ['doubles', 'aocs', 'courses', 'slashes'], 'summary')" class="nav-link" aria-selected="false">Doubles</button>
      </li>
      <li class="nav-item">
        <button id="slashes" data-toggle="tab" role="tab" aria-controls="dashboard" style="font-size:16px;" onclick="switchTab('slashes', ['slashes', 'aocs', 'doubles', 'courses'], 'summary')" class="nav-link" aria-selected="false">Slashes</button>
      </li>
    </ul>
    <div class="summary" id="summary" style="margin-left:10px;margin-right:10px;">
      <br />
      <form id="form-courses"></form>
    </div>
    <br/>
    <div class="summary" id="results" style="margin-left:10px;margin-right:10px;">

    </div>

    <!-- Course Modal -->
    <div id="courseModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal COURSE Header</h4>
          </div>
          <div class="modal-body">
            <p>Some text in the modal.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

    <!-- AOC Modal -->
    <div id="aocModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal AOC Header</h4>
          </div>
          <div class="modal-body">
            <p>Some text in the modal.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

    <!-- Double Modal -->
    <div id="doubleModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal DOUBLE Header</h4>
          </div>
          <div class="modal-body">
            <p>Some text in the modal.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

    <!-- Slash Modal -->
    <div id="slashModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal SLASH Header</h4>
          </div>
          <div class="modal-body">
            <p>Some text in the modal.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

  </div>
</body>

<script
  src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
  crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<script src="../static/admin.js"></script>

<script>
  switchTab('courses', ['courses', 'aocs', 'doubles', 'slashes'], 'summary');
</script>

</html>