<!DOCTYPE html>
<html lang="en">


<head>
  <title>gradGyde Student Dashboard</title>

  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

  <link rel='shortcut icon' href='../static/favicon.ico'>

  <script
  src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
  crossorigin="anonymous"></script>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

  <link rel="stylesheet" type="text/css" href="../static/style.css" />

</head>

<body>
  <!-- NAV BAR -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">

    <!-- gradGyde image -->
    <img src="../static/img/gradGyde.png" Alt="gradGyde" style="width:160px;height:48px;padding:0px 5px 2px 5px" onclick="location.href='/student_dashboard'">

    <!-- dashboard tab -->
    <li class="nav-item">
      <a class="nav-link active" id="dashboard-tab" data-toggle="tab" href="/student_dashboard" role="tab" aria-controls="dashboard" aria-selected="true">Dashboard</a>
    </li>

    <!-- settings and logout buttons -->
    <ul class="nav nav-tabs ml-auto">
      <button type="button" onclick="location.href='/logout';">Logout</button>
    </ul>
  </ul>

  <br/>

  <div class="contents-explore">
    <center><h3><b>Administrative Dashboard</b></h3></center>

    <p style="font-size: 18px">
      View, add, remove, and edit courses, AOCs, doubles, and slashes.
    </p>
    <br/>

    <!-- tabs for either courses, aocs, doubles, slashes -->
    <ul class="nav nav-tabs" id="summary-tabs" role="tablist" style="margin-left:10px;margin-right:10px">
      <li class="nav-item">
        <button id="courses" data-toggle="tab" role="tab" aria-controls="dashboard" style="font-size:16px;" onclick="switchTab('courses', ['courses', 'aocs', 'doubles', 'slashes'], 'summary')" class="nav-link active" aria-selected="true">Courses</button>
      </li>
      <li class="nav-item">
        <button id="aocs" data-toggle="tab" role="tab" aria-controls="dashboard" style="font-size:16px;" onclick="switchTab('aocs', ['aocs', 'courses', 'doubles', 'slashes'], 'summary')" class="nav-link" aria-selected="false">AOCs</button>
      </li>
      <li class="nav-item">
        <button id="doubles" data-toggle="tab" role="tab" aria-controls="dashboard" style="font-size:16px;" onclick="switchTab('doubles', ['doubles', 'aocs', 'courses', 'slashes'], 'summary')" class="nav-link" aria-selected="false">Doubles</button>
      </li>
      <li class="nav-item">
        <button id="slashes" data-toggle="tab" role="tab" aria-controls="dashboard" style="font-size:16px;" onclick="switchTab('slashes', ['slashes', 'aocs', 'doubles', 'courses'], 'summary')" class="nav-link" aria-selected="false">Slashes</button>
      </li>
    </ul>
    <div class="summary" id="summary" style="margin-left:10px;margin-right:10px;">
      <br />
      <form id="form-courses"></form>
    </div>
    <br/>
    <div class="summary" id="results" style="margin-left:10px;margin-right:10px;">

    </div>

    <!-- Course Modal -->
    <div class="modal hide" id="courseModal" style="background-color: #222222;">
      <div class="modal-header">
        <h3>Add Course</h3>
      </div>
      <div class="modal-body">
        <form id="form-addcourse" action="/admin/addcourse" method="post">
          <!-- preferred name -->
          <label for="inputCourseName">Name</label>
          <input name='name' type="text" class="form-control" id="inputCourseName" placeholder="Enter course name" required>

          <br/>

          <label for="inputCourseYear">Year</label><br/>
          <select name='year' id="inputCourseYear" class="mdb-select colorful-select dropdown-primary md-form" required>
          </select>

          <br/>
          <br/>

          <label for="selectCourseSemester">Semester</label><br/>
          <select name='semester' id="selectCourseSemester" class="mdb-select colorful-select dropdown-primary md-form" required>
            <option value="fall">Fall</option>
            <option value="spring">Spring</option>
            <option value="summer">Summer</option>
          </select>

          <br/>
          <br/>

          <label for="selectCourseCredit">Credit</label><br/>
          <select name='credit' id="selectCourseCredit" class="mdb-select colorful-select dropdown-primary md-form" required>
            <option value=0>0</option>
            <option value=0.5>0.5</option>
            <option value=1>1</option>
          </select>

          <br/>
          <br/>

          <label for="selectCourseTags">Tags</label><br/>
          <select class="js-example-tags form-control" multiple="multiple" name="tags" style="width:100%;" id="selectCourseTags" required>
          </select>

          <br/>
          <br/>
          <br/>

          <button type="submit" style="border-radius:3px">Add</button>

        </form>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" style="background-color: #aeb4b7;"data-dismiss="modal">Cancel

          <br/></a>
      </div>
    </div>

    <!-- AOC Modal -->
    <div class="modal hide" id="aocModal" style="background-color: #222222;">
      <div class="modal-header">
        <h3>Add AOC</h3>
      </div>
      <div class="modal-body">
        <form id="form-addaoc" action="/admin/addaoc" method="post">
          <!-- preferred name -->
          <label for="inputAOCName">Name</label>
          <input name='name' type="text" class="form-control" id="inputAOCName" placeholder="Enter AOC name" required>

          <br/>

          <label for="inputAOCYear">Year</label><br/>
          <select name='year' id="inputAOCYear" class="mdb-select colorful-select dropdown-primary md-form" required>
          </select>

          <br/>
          <br/>
          <br/>

          <button type="submit" style="border-radius:3px">Add</button>

        </form>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" style="background-color: #aeb4b7;"data-dismiss="modal">Cancel

          <br/></a>
      </div>
    </div>

    <!-- Double Modal -->
    <div class="modal hide" id="doubleModal" style="background-color: #222222;">
      <div class="modal-header">
        <h3>Add Course</h3>
      </div>
      <div class="modal-body">
        <form id="form-addcourse" action="/admin/adddouble" method="post">
          <!-- preferred name -->
          <label for="inputDoubleName">Name</label>
          <input name='name' type="text" class="form-control" id="inputDoubleName" placeholder="Enter double name" required>

          <br/>

          <label for="inputDoubleYear">Year</label><br/>
          <select name='year' id="inputDoubleYear" class="mdb-select colorful-select dropdown-primary md-form" required>
          </select>

          <br/>
          <br/>
          <br/>

          <button type="submit" style="border-radius:3px">Add</button>

        </form>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" style="background-color: #aeb4b7;"data-dismiss="modal">Cancel

          <br/></a>
      </div>
    </div>

    <!-- Slash Modal -->
    <div class="modal hide" id="slashModal" style="background-color: #222222;">
      <div class="modal-header">
        <h3>Add Slash</h3>
      </div>
      <div class="modal-body">
        <form id="form-addslash" action="/admin/addslash" method="post">
          <!-- preferred name -->
          <label for="inputSlashName">Name</label>
          <input name='name' type="text" class="form-control" id="inputSlashName" placeholder="Enter slash name" required>

          <br/>

          <label for="inputSlashYear">Year</label><br/>
          <select name='year' id="inputSlashYear" class="mdb-select colorful-select dropdown-primary md-form" required>
          </select>

          <br/>
          <br/>
          <br/>

          <button type="submit" style="border-radius:3px">Add</button>

        </form>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" style="background-color: #aeb4b7;"data-dismiss="modal">Cancel

          <br/></a>
      </div>
    </div>
  </div>
</body>

<!-- <script
  src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
  crossorigin="anonymous"></script> -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<script src="../static/populate-select.js"></script>

<script src="../static/admin.js"></script>

<script>
  data = {{ tags | safe }};

  switchTab('courses', ['courses', 'aocs', 'doubles', 'slashes'], 'summary');

  // populate select for year
  var currentYear = new Date().getFullYear(), years = [];
  startYear = currentYear - 10;

  var el;

  while (startYear <= currentYear + 1) {
    years.push(startYear);
    startYear++;
  }

  populateSelect("inputCourseYear", years);
  populateSelect("inputAOCYear", years);
  populateSelect("inputDoubleYear", years);
  populateSelect("inputSlashYear", years);


  $(".js-example-tags").select2({
    data: data,
    tags: true,
    tokenSeparators: [','],
    createTag: function (params) {
      var term = $.trim(params.term);


      if (term === '') {
        return null;
      }

      return {
        id: term,
        text: term,
        newTag: true, // add additional parameters
      }
    }
  });
</script>

</html>