<!DOCTYPE html>
<html lang="en">


<head>
  <title>gradGyde Student Dashboard</title>

  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

  <link rel="stylesheet" type="text/css" href="../static/style.css" />
  <link rel='shortcut icon' href='../static/favicon.ico'>

</head>

<body>
  <!-- NAV BAR -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">

    <!-- gradGyde image -->
    <img src="../static/img/gradGyde.png" Alt="gradGyde" style="width:160px;height:48px;padding:0px 5px 2px 5px" onclick="location.href='/student_dashboard'">

    <!-- dashboard tab -->
    <li class="nav-item">
      <a class="nav-link" id="dashboard-tab" data-toggle="tab" href="/student_dashboard" role="tab" aria-controls="dashboard" aria-selected="false">Dashboard</a>
    </li>

    <!-- lac tab -->
    <li class="nav-item">
      <a class="nav-link" id="lac-tab" data-toggle="tab" href="/student_dashboard/lacs" role="tab" aria-controls="lac" aria-selected="false">LACs</a>
    </li>

    <!-- courses tab -->
    <li class="nav-item">
      <a class="nav-link active" id="explore-tab" data-toggle="tab" href="/student_dashboard/courses" role="tab" aria-controls="courses" aria-selected="true">Courses</a>
    </li>
    
    <!-- settings and logout buttons -->
    <ul class="nav nav-tabs ml-auto">
      <a href="/student_dashboard/settings" class="img-link">
        <img src="../static/img/settings.png" Alt="Settings" style="width:47px;height:47px;">
      </a>
      <button type="button" onclick="location.href='/logout';">Logout</button>
    </ul>
  </ul>

  <br/>

  <div class="summary" id="summary" style="margin-left:10px;margin-right:10px;">
      <br/>
      
      <center><h3><b>Course History</b></h3></center>

      <br/>

      <!-- insert classes user has taken here -->

    </div>
</body>
</html>