<!DOCTYPE html>
<html lang="en">


<head>
  <title>gradGyde Student Dashboard</title>

  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

  <link rel="stylesheet" type="text/css" href="../static/style.css" />
  <link rel='shortcut icon' href='../static/favicon.ico'>

</head>

<body>
  <!-- NAV BAR -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">

    <!-- gradGyde image -->
    <img src="../static/img/gradGyde.png" Alt="gradGyde" style="width:160px;height:48px;padding:0px 5px 2px 5px" onclick="location.href='/student_dashboard'">

    <!-- dashboard tab -->
    <li class="nav-item">
      <a class="nav-link" id="dashboard-tab" data-toggle="tab" href="/student_dashboard" role="tab" aria-controls="dashboard" aria-selected="false">Dashboard</a>
    </li>

    <!-- lac tab -->
    <li class="nav-item">
      <a class="nav-link" id="lac-tab" data-toggle="tab" href="/student_dashboard/lacs" role="tab" aria-controls="lac" aria-selected="false">LACs</a>
    </li>

    <!-- courses tab -->
    <li class="nav-item">
      <a class="nav-link active" id="courses-tab" data-toggle="tab" href="/student_dashboard/courses" role="tab" aria-controls="courses" aria-selected="true">My Courses</a>
    </li>

    <!-- explore tab -->
    <li class="nav-item">
      <a class="nav-link" id="explore-tab" data-toggle="tab" href="/student_dashboard/explore" role="tab" aria-controls="explore" aria-selected="false">Explore</a>
    </li>

    <!-- settings and logout buttons -->
    <ul class="nav nav-tabs ml-auto">
      <a href="/student_dashboard/settings" class="img-link">
        <img src="../static/img/settings.png" Alt="Settings" style="width:47px;height:47px;">
      </a>
      <button type="button" onclick="location.href='/logout';">Logout</button>
    </ul>
  </ul>

  <br/>

  <div class="contents">
    <div class="summary" id="summary" style="margin-left:10px;margin-right:10px;">
      
      <center><h3><b>Course History</b></h3></center>

      <center><button style="font-size:18px;border-radius:3px;" onclick="location.href='/student_dashboard/explore';">+ Add Course</button></center>
      <br/>
      <p style="font-size: 16px;">
        These are classes you have identified as taken and satisfied the requirements. If you wish to remove one, click the red "x" button to the left of the course.
      </p>
      <br/>
      <!-- insert classes user has taken here -->
    </div>
  </div>
</body>

<script
  src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
  crossorigin="anonymous"></script>

<script src="../static/courses.js"></script>

<script>
  var courses = $.parseJSON({{ courses | tojson | safe }});

  populateSections("summary", courses, "year", true);
  populateSubsections(courses, "year", "/removecourses", "courses");

</script>

</html>