<!DOCTYPE html>
<html lang="en">


<head>
    <title>gradGyde Dashboard</title>

    <link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.grid.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/bootstrap-reboot.min.css" />

    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <link rel='shortcut icon' href='../static/favicon.ico'>
</head>

<body>
    <!-- NAV BAR -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <img src="../static/img/ncf-whitelogo.png" Alt="New College of Florida" style="width:160px;height:48px;padding:0px 5px 2px 5px">
        <li class="nav-item">
            <a class="nav-link active" id="dashboard-tab" data-toggle="tab" href="stub.html" role="tab" aria-controls="dashboard" aria-selected="true">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="lac-tab" data-toggle="tab" href="stub.html" role="tab" aria-controls="lac" aria-selected="false">LACs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="explore-tab" data-toggle="tab" href="stub.html" role="tab" aria-controls="explore" aria-selected="false">Explore</a>
        </li>

        <ul class="nav nav-tabs ml-auto">
            <a href="stub.html" class="img-link">
                <img src="../static/img/settings.png" Alt="Settings" style="width:47px;height:47px;">
            </a>
            <button type="button" onclick="STUBSTUBSTUB">Logout</button>
        </ul>
    </ul>




    <div class="sidenav">
        <h2>Welcome, {{name}}.</h2>
        <h4 id="user-aoc">AOCS: STUB-JS GET FROM DB</h4>
        <h4 id="user-slash">Slashes: STUB-JS GET FROM DB</h4>

    </div>




    <div class="main">

    </div>

</body>

</html> 