<!DOCTYPE html>
<html lang="en">


<head>
  <title>gradGyde Settings</title>

  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

  <link rel="stylesheet" type="text/css" href="../static/style.css" />
  <link rel='shortcut icon' href='../static/favicon.ico'>
 </script>
</head>

<body>
  <!-- NAV BAR -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <!-- gradGyde image -->
    <img src="../static/img/gradGyde.png" Alt="gradGyde" style="width:160px;height:48px;padding:0px 5px 2px 5px">
    <!-- dashboard tab -->
    <li class="nav-item">
      <a class="nav-link active" id="dashboard-tab" data-toggle="tab" href="/student_dashboard" role="tab" aria-controls="dashboard" aria-selected="true">Dashboard</a>
    </li>
    <!-- lac tab -->
    <li class="nav-item">
      <a class="nav-link" id="lac-tab" data-toggle="tab" href="/student_dashboard/lacs" role="tab" aria-controls="lac" aria-selected="false">LACs</a>
    </li>
    <!-- explore tab -->
<!--     <li class="nav-item">
      <a class="nav-link" id="explore-tab" data-toggle="tab" href="stub.html" role="tab" aria-controls="explore" aria-selected="false">Explore</a>
    </li> -->

    <!-- settings and logout buttons -->
    <ul class="nav nav-tabs ml-auto">
      <a href="/student_dashboard/settings" class="img-link">
        <img src="../static/img/settings.png" Alt="Settings" style="width:47px;height:47px;">
      </a>
      <button type="button" onclick="location.href='/logout';">Logout</button>
    </ul>
  </ul>


  <!-- SIDEBAR -->
  <div class="sidenav">
    <h2><b>Welcome, {{name}}.</b></h2>
    <br>
    <h5 id="user-aoc"><b>AOCs:</b> stubAOC</h5>
    <h5 id="user-double"><b>Doubles:</b> stubDouble</h5>
    <h5 id="user-slash"><b>Slashes:</b> stubSlash</h5>

    <br>

    <!-- STUB PROGRESS BARS -->
    <div class="grad-progress">
      <h5><b>Computer Science</b> : 0/10</h5>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 0%;background-color:#222222" aria-valuenow="0" aria-valuemin="0" aria-valuemax="10"></div>
      </div>
    </div>

    <br/>

    <div class="grad-progress">
      <h5><b>Wizardry</b> : 8/10</h5>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 0%;background-color:#222222" aria-valuenow="0" aria-valuemin="0" aria-valuemax="10"></div>
      </div>
    </div>

    <br/>

    <div class="grad-progress">
      <h5><b>Underwater Basketweaving</b> : 4/10</h5>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 0%;background-color:#222222" aria-valuenow="0" aria-valuemin="0" aria-valuemax="10"></div>
      </div>
    </div>
  </div>




  <!-- MAIN CONTENT OF PAGE -->
  <div class="main">

    <!-- STUB TABS OF AOCS AND SLASHES -->
    <ul class="nav nav-tabs" id="summary-tabs" role="tablist">
      <li class="nav-item">
        <button class="nav-link active" id="" data-toggle="tab" role="tab" aria-controls="dashboard" aria-selected="true" style="font-size:16px" onclick="changeDivContents('summary', 'compSciTrack')" id="sum-tab-1">Computer Science</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" id="" data-toggle="tab" href="stub.html" role="tab" aria-controls="lac" aria-selected="false" style="font-size:16px" onclick="changeDivContents('summary', 'wizardry')" id="sum-tab-2">Wizardry</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" id="" data-toggle="tab" href="stub.html" role="tab" aria-controls="explore" aria-selected="false" style="font-size:16px" onclick="changeDivContents('summary', 'basket')" id="sum-tab-3">Underwater Basketweaving</button>
      </li>
    </ul>


    <!-- STUB REQUIREMENTS -->
    <div class="summary" id="summary">
      <br/>
      <h4><b>Requirements for completing an AOC in Stub:</b></h4>

      <form id="">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1" style="font-size:24px">Complete at least 1 of the following introductory courses:</label>
        
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1a">
            <label class="form-check-label" for="exampleCheck1a" style="font-size:20px">Introduction to Programming in Python</label>
          </div>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1b">
            <label class="form-check-label" for="exampleCheck1b" style="font-size:20px">The C Programming Language</label>
          </div>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1c">
            <label class="form-check-label" for="exampleCheck1c" style="font-size:20px">Functional Problem Solving with Scheme</label>
          </div>
        </div>


        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck2">
          <label class="form-check-label" for="exampleCheck2" style="font-size:24px">Complete all of the following intermediate core courses:</label>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck2a">
            <label class="form-check-label" for="exampleCheck1a" style="font-size:20px">Object Oriented Programming</label>
          </div>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck2b">
            <label class="form-check-label" for="exampleCheck2b" style="font-size:20px">Discrete Mathematics for Computer Science</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck2c">
            <label class="form-check-label" for="exampleCheck2c" style="font-size:20px">Object Oriented Design</label>
          </div>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck2d">
            <label class="form-check-label" for="exampleCheck2d" style="font-size:20px">Data Structures in Java</label>
          </div>
        </div>


        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck3">
          <label class="form-check-label" for="exampleCheck3" style="font-size:24px">Complete all of the following advanced core courses:</label>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck3a">
            <label class="form-check-label" for="exampleCheck3a" style="font-size:20px">Software Engineering</label>
          </div>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck3b">
            <label class="form-check-label" for="exampleCheck3b" style="font-size:20px">Algorithms</label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
      </div>
    </form>

  </div>

</body>

<script>
  var compSciTrack = 
      "<br/>" +
      "<h4><b>Requirements for completing an AOC in Computer Science:</b></h4>" +
      "<form id=''><div class='form-check'>" + 
      "<input type='checkbox' class='form-check-input' id='exampleCheck1'>" +
      "<label class='form-check-label' for='exampleCheck1' style='font-size:24px'>Complete at least 1 of the following introductory courses:</label>" +
      "<div class='form-check'><input type='checkbox' class='form-check-input' id='exampleCheck1a'>" +
      "<label class='form-check-label' for='exampleCheck1a' style='font-size:20px'>Introduction to Programming in Python</label></div>" +
      "<div class='form-check'><input type='checkbox' class='form-check-input' id='exampleCheck1b'>" +
      "<label class='form-check-label' for='exampleCheck1b' style='font-size:20px'>The C Programming Language</label></div>" +
      "<div class='form-check'><input type='checkbox' class='form-check-input' id='exampleCheck1c'>" +
      "<label class='form-check-label' for='exampleCheck1c' style='font-size:20px'>Functional Problem Solving with Scheme</label></div></div>" +
      "<div class='form-check'><input type='checkbox' class='form-check-input' id='exampleCheck2'>" +
      "<label class='form-check-label' for='exampleCheck2' style='font-size:24px'>" +
      "Complete all of the following intermediate core courses:</label>" +
      "<div class='form-check'><input type='checkbox' class='form-check-input' id='exampleCheck2a'>" +
      "<label class='form-check-label' for='exampleCheck1a' style='font-size:20px'>" +
      "Object Oriented Programming</label></div>" +
      "<div class='form-check'><input type='checkbox' class='form-check-input' id='exampleCheck2b'>" +
      "<label class='form-check-label' for='exampleCheck2b' style='font-size:20px'>" +
      "Discrete Mathematics for Computer Science</label></div>" +
      "<div class='form-check'><input type='checkbox' class='form-check-input' id='exampleCheck2c'>" +
      "<label class='form-check-label' for='exampleCheck2c' style='font-size:20px'>" +
      "Object Oriented Design</label></div>" +
      "<div class='form-check'><input type='checkbox' class='form-check-input' id='exampleCheck2d'>" +
      "<label class='form-check-label' for='exampleCheck2d' style='font-size:20px'>" +
      "Data Structures in Java</label></div></div>" +
      "<div class='form-check'><input type='checkbox' class='form-check-input' id='exampleCheck3'>" +
      "<label class='form-check-label' for='exampleCheck3' style='font-size:24px'>" +
      "Complete all of the following advanced core courses:</label>" +
      "<div class='form-check'><input type='checkbox' class='form-check-input' id='exampleCheck3a'>" +
      "<label class='form-check-label' for='exampleCheck3a' style='font-size:20px'>" +
      "Software Engineering</label></div>" +
      "<div class='form-check'><input type='checkbox' class='form-check-input' id='exampleCheck3b'>" +
      "<label class='form-check-label' for='exampleCheck3b' style='font-size:20px'>" +
      "Algorithms</label></div></div>" +
      "<button type='submit' class='btn btn-primary'>Save Changes</button></div>"

var wizardry = 
      "<br/>" +
      "<h4><b>Requirements for completing a double AOC in Wizardry:</b></h4>" +
      "<form id=''><div class='form-check'>" + 
      "<input type='checkbox' class='form-check-input' id='exampleCheck1'>" +
      "<label class='form-check-label' for='exampleCheck1' style='font-size:24px'>Potions</label></div>" +
      "<div class='form-check'><input type='checkbox' class='form-check-input' id='exampleCheck2'>" +
      "<label class='form-check-label' for='exampleCheck2' style='font-size:24px'>" +
      "Spells</label></div>" +
      "<div class='form-check'><input type='checkbox' class='form-check-input' id='exampleCheck2d'>" +
      "<label class='form-check-label' for='exampleCheck2d' style='font-size:24px'>" +
      "Defense Against the Dark Arts</label></div>" + 
      "<button type='submit' class='btn btn-primary'>Save Changes</button></div>"

var basket = 
      "<br/>" +
      "<h4><b>Requirements for completing a slash in Underwater Basketweaving:</b></h4>" +
      "<form id=''><div class='form-check'>" + 
      "<input type='checkbox' class='form-check-input' id='exampleCheck1'>" +
      "<label class='form-check-label' for='exampleCheck1' style='font-size:24px'>Beginner's Basketweaving</label></div>" +
      "<div class='form-check'><input type='checkbox' class='form-check-input' id='exampleCheck2'>" +
      "<label class='form-check-label' for='exampleCheck2' style='font-size:24px'>" +
      "History of Baskets</label></div>" +
      "<div class='form-check'><input type='checkbox' class='form-check-input' id='exampleCheck2d'>" +
      "<label class='form-check-label' for='exampleCheck2d' style='font-size:24px'>" +
      "Maneuvering Underwater</label></div>" + 
      "<button type='submit' class='btn btn-primary'>Save Changes</button></div>"

  /**
   * Clears a given div class by ID
   * @param {string} elementID
   * @param {string} track, The AOC, double, or slash to be displayed
   */
  function changeDivContents(elementID, track) {

    if (track == "compSciTrack") {
      document.getElementById(elementID).innerHTML = compSciTrack;
    } else if (track == "wizardry") {
      document.getElementById(elementID).innerHTML = wizardry;
    } else if (track == "basket") {
      document.getElementById(elementID).innerHTML = basket;
    }
  }
</script>

</html> 