<!DOCTYPE html>
<html lang="en">


<head>
	<title>gradGyde Login</title>

	<link rel="stylesheet" type="text/css" href="../static/style.css" />
	<link rel='shortcut icon' href='../static/favicon.ico'>
</head>


<h1>
	Welcome to gradGyde
</h1>
<h2>
	Please sign in.
</h2>

<body>
	<br/><br/>

	<button onclick="location.href='/oauth_google';" type="button" style="font-size:18px;padding:10px 15px">Sign in using NCF Google Account</button>

	<p>
		<br/>

		Don't have an account? <a href="/signup" style="color:lightblue">Sign up here.</a>
	</p>
</body>

</html> 