<!DOCTYPE html>
<html lang="en">


<head>
  <title>gradGyde Settings</title>

  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

  <link rel="stylesheet" type="text/css" href="../static/style.css" />
  <link rel='shortcut icon' href='../static/favicon.ico'>
</head>

<body>
  <!-- NAV BAR -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <!-- gradGyde image -->
    <img src="../static/img/gradGyde.png" Alt="gradGyde" style="width:160px;height:48px;padding:0px 5px 2px 5px" onclick="location.href='/student_dashboard'">

    <!-- dashboard tab -->
    <li class="nav-item">
      <a class="nav-link" id="dashboard-tab" data-toggle="tab" href="/student_dashboard" role="tab" aria-controls="dashboard" aria-selected="false">Dashboard</a>
    </li>

    <!-- lac tab -->
    <li class="nav-item">
      <a class="nav-link" id="lac-tab" data-toggle="tab" href="/student_dashboard/lacs" role="tab" aria-controls="lac" aria-selected="false">LACs</a>
    </li>

    <!-- courses tab -->
    <li class="nav-item">
      <a class="nav-link" id="courses-tab" data-toggle="tab" href="/student_dashboard/courses" role="tab" aria-controls="courses" aria-selected="false">My Courses</a>
    </li>

    <!-- explore tab -->
    <li class="nav-item">
      <a class="nav-link" id="explore-tab" data-toggle="tab" href="/student_dashboard/explore" role="tab" aria-controls="explore" aria-selected="false">Explore</a>
    </li>

    <!-- settings and logout buttons -->
    <ul class="nav nav-tabs ml-auto">
      <a href="/student_dashboard/settings" class="img-link">
        <img src="../static/img/settings.png" Alt="Settings" style="width:47px;height:47px;">
      </a>
      <button type="button" onclick="location.href='/logout';">Logout</button>
    </ul>
  </ul>

  <br/>

  
  <div class="settings">
    <center><h2><b>Settings</b></h2></center>

    <p style="font-size: 16px;">
      If you wish to change your name or year started, fill out the proper fields below and click the "Save Changes" button to save the changes you have made. If you wish to remove an area of interest, simply click the red "x" button to the left of the area of interest.
    </p>

    <br/>

    <!-- FORM TO CHANGE USER INFORMATION -->
    <form id="" method="post" action="/student_dashboard/settings/post">

      <!-- preferred name -->
      <label for="inputName">Preferred Name</label>

      <input name='name' type="text" class="form-control" id="inputName" value={{name}} required>

      <br/>

      <!-- year started -->
      <label for="inputYear">The year you started New College</label><br/>
      <select name='year' id="inputYear" class="mdb-select colorful-select dropdown-primary md-form" multiple searchable="Search here.." for="inputYear" required>
        <!-- options populated by js -->
      </select>

      <br/><br/>

      <center><button type="submit" style="border-radius:3px">Save Changes</button></center>
    </form>

    <br/><br/>

    <div class="contents">
      <div class="summary" id="summary" style="margin-left:10px;margin-right:10px;">
        
        <center><h3><b>Areas of Interest</b></h3></center>

        <center><button style="font-size:18px;border-radius:3px;" onclick="location.href='/student_dashboard/explore';">+ add Area of Interest</button></center>
        <br/>

        <!-- insert areas of interest here -->
      </div>
    </div>
  </div> 
  <br/>
</body>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
</script>

<script src="../static/populate-select.js"></script>

<script src="../static/courses.js"></script>

<script>

  var aocs = {{ aocs | tojson | safe }};
  var doubles = {{ doubles | tojson | safe }};
  var slashes = {{ slashes | tojson | safe}};


  // populate select for year
  var currentYear = new Date().getFullYear(), years = [];
  startYear = currentYear - 10;

  var el;

  while (startYear <= currentYear) {
    years.push(startYear);
    startYear++;
  }

  populateSelect("inputYear", years);

  var aoc;
  var doubles;
  var slashes;

  for (var i in aocs) {
    aocs[i]["type"] = "AOCs";
  }

  for (var i in doubles) {
    doubles[i]["type"] = "Doubles";
  }

  for (var i in slashes) {
    slashes[i]["type"] = "Slashes";
  }

  populateSections("summary", aocs, "type", false);
  populateSubsections(aocs, "type", '/removeaoi', "aois");

  populateSections("summary", doubles, "type", false);
  populateSubsections(doubles, "type", '/removeaoi', "aois");

  populateSections("summary", slashes, "type", false);
  populateSubsections(slashes, "type", '/removeaoi', "aois");

</script>

</html> 