<!DOCTYPE html>
<html lang="en">


<head>
  <title>gradGyde Sign Up</title>

  <link rel='shortcut icon' href='../static/favicon.ico'>

  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

  <link rel="stylesheet" type="text/css" href="../static/style.css" />

  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="../static/signupform.js"></script>
</head>

<body>
    <div class="loginsignup">
      <center>
        <img src="../static/img/gradGyde.png" Alt="gradGyde" style="width:160px;height:48px;padding:0px 5px 2px 5px">
      </center>

      <h1>Please fill in the following to complete your sign up for gradGyde.</h1>
      <br/><br/>

      <form action="/signup_form/post" method="post">
        <div class="form-group">
          <label for="inputName">Preferred Name</label>
          <input name='name' type="text" class="form-control" id="inputName" placeholder="Enter your preferred name" required>
        </div>

          <label for="inputSelectAOC">Select the primary AOC you currently plan on completing. (Hold down CTRL while selecting if selecting multiple)</label><br/>
          <select name='AOC' id="select_AOC" class="mdb-select colorful-select dropdown-primary md-form" multiple searchable="Search here.." for="inputSelectAOC">
          <!-- DUMMY OPTIONS -->
          <!--             
            <option value="" disabled selected>Choose your AOC</option>
            <option value="1">Computer Science</option>
            <option value="2">Biology</option>
            <option value="3">Applied Mathematics</option>
            <option value="4">Psychology</option>
            <option value="5">Philosophy</option> 
-->
          </select>

          <br/><br/>

          <label for="inputSelectAOCDouble">Optionally, select an AOC you you currently plan on completing as a double AOC. (Hold down CTRL while selecting if selecting multiple)</label><br/>
          <select name='AOC_double' id="select_AOC" class="mdb-select colorful-select dropdown-primary md-form" multiple searchable="Search here.." for="inputSelectAOCDouble">
          <!-- DUMMY OPTIONS -->
          <!--             
            <option value="" disabled selected>Choose your AOC</option>
            <option value="1">Computer Science</option>
            <option value="2">Biology</option>
            <option value="3">Applied Mathematics</option>
            <option value="4">Psychology</option>
            <option value="5">Philosophy</option> 
-->
          </select>

          <br/><br/>

          <label for="inputSelectSlashes">Optionally, select all slashes you currently plan on completing. (Hold down CTRL while selecting if selecting multiple)</label><br/>
            <select name='slash' class="mdb-select colorful-select dropdown-primary md-form" multiple searchable="Search here.." for="inputSelectSlashes">
              <!-- DUMMY OPTIONS -->
              <!-- 
              <option value="" disabled selected>Choose your slash</option>
              <option value="1">Computer Science</option>
              <option value="2">Biology</option>
              <option value="3">Applied Mathematics</option>
              <option value="4">Psychology</option>
              <option value="5">Philosophy</option> 
              -->
            </select>

        <br/><br/>

        By signing up to gradGyde you understand you are putting in your own education records. By doing so you are waiving your FERPA rights specifically to allow gradGyde to save your inputted education records.<br/>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="waiverCheck" required="true">
          <label class="form-check-label" for="waiverCheck">I agree to allow gradGyde to save the education records I provide.</label>
        </div>

        <br/>
        <br/>

          <!-- The commented out button code below is correct, the redirect one is only for demonstration purposes and should be removed when we have form actions set up. -->
          <!-- <button type="submit" class="btn btn-primary">Sign up</button> -->
          <button onclick="post('/signup_form/post')" type="button" class="btn btn-primary">Sign up</button>
      </form>
    </div>
</body>
</html> 