<!DOCTYPE html>
<html lang="en">


<head>
	<title>gradGyde Sign Up</title>

	<link rel="stylesheet" type="text/css" href="../static/style.css" />
	<link rel='shortcut icon' href='../static/favicon.ico'>
</head>


<h1>
	Welcome to gradGyde
</h1>
<h2>
	Please make an account.
</h2>

<body>
	<br/><br/>


	<button type="button" style="font-size:18px;padding:10px 15px">Sign up using NCF Google Account</button>

	<p>
		<br/>

		Have an account? <a href="login.html" style="color:lightblue">Log in here.</a>
	</p>
</body>

</html> 